.App {
  /* text-align: center; */
  max-height: 100vh;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  grid-area: header;
  background-color: #282c34;
  min-height: 100vh;
  display: grid | inline-grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > * {
  border: 1px transparent #f08c00;
  /* background-color: #ffec99; */
  border-radius: 0px;
  padding: 10px;
}

nav ul {
  text-align: left;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul {
  text-align: left;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-head {
  text-align: center;
  grid-area: header;
  position: relative;
  /* top: 0; */
  /* left: 0; */
}
.content {
  grid-area: content;
}
.main-h1,
.main-h2,
.main-h5 {
  text-align: center;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
  text-align: end;
}
.main-footer {
  grid-area: footer;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  aside ul {
    display: flex;
    justify-content: space-between;
    text-align: end;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "nav    content ad"
      "nav    content ad"
      "nav    content ad"
      "nav    content ad"
      "nav    content ad"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
  aside ul {
    flex-direction: column;
  }
}
.bck_black {
  background: #ffffff;
}

.footer {
  padding: 50px 0px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  /* background: red; */
}

.footer .footer_copyright {
  font-size: 18px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #020101;
  border-radius: 2px;
  padding: 10px;
}

.search_input {
  color: rgb(10, 9, 9);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 35px;
  transition: width 0.4s linear;
  font-size: 20px;
}
.searchbar:hover {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 15px;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 500px;
  caret-color: rgb(0, 0, 0);
  transition: width 0.3s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #000000;
}

.search_icon {
  height: 100%;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
